.side-nav-container {
    background-color: #283346;
    width: 300px;
    height: 60vh;
    position: relative;
    color: white;
    transition: 0.4s;
}

.side-nav-container-NX {
    width: 85px;
}

.nav-upper, .nav-heading {
    display: grid;
}

.nav-heading {
    grid-template-columns: 2fr, 1fr;
    grid-template-rows: 1fr;
    height: 75px;
}

.nav-brand {
    display: flex;
    align-items: center;
}

.nav-brand img {
    width: 40px;
    padding: 0 10px;
}

.hamburger {
    position: absolute;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    margin: auto -35px;
    background-color: coral;
    border: 2px solid lightpink;
    padding: 20px;
    border-radius: 90px;
    height: 71px;
    width: 74px;
}

.hamburger span {
    display: block;
    margin-top: 5px;
    background-color: lightpink;
    border-radius: 15px;
    height: 4px;
    width: 30px;
    transition: 0.4s;
}

.hamburger:hover span {
    margin: auto;
}

.hamburger-in:hover span:nth-child(1) {
    width: 25px;
    transform: translate(-3px, 8px) rotate(30deg);
}

.hamburger-in:hover span:nth-child(2) {
    display: none;
}

.hamburger-in:hover span:nth-child(3) {
    width: 25px;
    transform: translate(-3px, -8px) rotate(-30deg);
}

.hamburger-out:hover span:nth-child(1) {
    width: 25px;
    transform: translate(0px, 8px) rotate(-30deg);
}

.hamburger-out:hover span:nth-child(2) {
    display: none;
}

.hamburger-out:hover span:nth-child(3) {
    width: 25px;
    transform: translate(0px, -8px) rotate(30deg);
}