.categories-container {
        background: #f3eeee;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
}

.categories {
    margin: 70px 0;
    padding-top: 20px;
}

.featured {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.5s;
}

.featured img {
    width: 100%;
}

.featured-products {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    transition: 0.5s;
}

.featured-products img {
    width: 60%;
    display: flex;
    margin: 0 auto;
}

.featured-products h4, p {
    text-align: center;
}

.featured-title {
    text-align: center;
    position: relative;
    line-height: 60px;
    color: #283346;
    margin: 0 auto 80px;
    text-transform: uppercase;
    font-weight: bold;
}

.featured-title::after {
    content: '';
    background: #ff523b;
    width: 230px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.featured-products:hover {
    transform: translateY(-5px);
}

.featured:hover {
    transform: translateY(-5px);
}