.parts-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

.item-part {
    border: none;
    box-shadow: rgba(153, 152, 152, 0.3) 0px 19px 38px, rgba(245, 152, 140, 0.22) 0px 15px 12px;
}

.single-part {
    margin-bottom: 50px;
}

.single-part img {
    width: 200px;
    height: 200px;
}

.purchase-button {
    border: none;
    background-color: #ff3100;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
}

.part-title {
    text-align: center;
    position: relative;
    line-height: 60px;
    color: #283346;
    margin: 50px auto 50px;
    text-transform: uppercase;
    font-weight: bold;

}

.part-title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}