.main-div {
    height: 80vh;
    background: radial-gradient(#fff, #ffd6d6);
}

.banner-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.banner-div {
    flex-basis: 50%;
    min-width: 300px;
    margin-top: 100px;
}

.banner-div img {
    max-width: 100%;
    padding: 50px 0;
}

.banner-div img:hover {
    transform: scale(1.2);
    transition: transform 3s ease-out;
}

.banner-div h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.banner-button {
    display: inline-block;
    background: #ff3100;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    border: none;
}


@media only screen and (max-width: 576px) {
    
    .banner-container {
        text-align: center;
    }
    
    .banner-div {
        flex-basis: 100;
    }
}